.container {
    width: 100%;
    padding: 1.25rem 3.75rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0063B2;
}

.btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.menu {
    width: 18.75rem;
    height: 100%;
    position: absolute;
    right: 2.875rem;
    bottom: -100%;
    z-index: 99;
}