.container {
    height: 2.5rem;
    padding-top: 0.6rem;
    padding-left: 1.25rem;
    padding-bottom: 0.6rem;;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.txt {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
}

.txt__clicked {
    color: #8AAAE5;
}

.txt__default {
    color: #FEFEFE;
}

.txt__default:hover,
.txt__clicked:hover {
    color: rgba(209, 60, 60, 0.55);
}